@import url('https://fonts.googleapis.com/css?family=Roboto');

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main header {
    width: 100%;
}

header .head {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    height: 80px;
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: #32B9EE;
    color: white;
}

header .head .head-left {
    margin-right: 50px;
}

header .head .head-right {
    margin-right: 30px;
}


header .head [class^="contact-"] {;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    line-height: 20px;
}

header .head [class^="contact-"] a {
    text-decoration: none;
    color: inherit;
}

header .head [class^="contact-"] i {
    font-size: 16px;
    margin-right: 3px;
}

header .head [class^="contact-"] span {
    vertical-align: middle;
}

header .head .contact-address {
    align-items: flex-start;
}


header .sub-head {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding-bottom: 15px;
    background-color: #F8F8F8;
}

header .sub-head .profil-pic {
    width: 150px;
    height: 176px;
    margin-top: -30px;
    margin-left: 30px;
    border: 1px solid #32B9EE;
}

header .sub-head .github-qr {
    width: 80px;
    height: 80px;
}

header .sub-head .twitter-qr {
    width: 80px;
    height: 80px;
}

header .sub-head div {
    margin-left: 0;
}

header .sub-head .sub-head-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 20px;
}

header .sub-head .name {
    margin-top: 10px;
    margin-bottom: 0;
    color: #32B9EE;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
}

header .sub-head .title {
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
}

header .sub-head .resume {
    margin: 0 30px 0 15px;
    font-size: 0.8em;
}

h1 {
    background-color: #F8F8F8;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

.article-content {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
}

.article-content article:not(:first-child) {
    margin-left: 5px;
}

.article-content ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.article-content ul li {
    display: inline;
}

.article-content ul li:after
{
    color: black;
    content: ' | ';
}
.article-content ul li:last-child:after
{
    content: '';
}

.article-content .article-company {
    color: #32B9EE;
    text-transform: uppercase;
    font-size: 0.9em;
}

.article-content .article-company .company-darker {
    color: #2c74a1;
}

.article-content .article-title {
    text-transform: uppercase;
    font-size: 0.9em;
}

.article-content .article-duration {
    color: #BEBEBE;
    text-transform: uppercase;
    font-size: 0.9em;
}

.article-content .article-description {
    color: #818181;
    font-size: 0.8em;
}

.skills h1 {
    margin-bottom: 0;
    background-color: #F2F2F2;
}

.skills-row {
    display: flex;
    flex-flow: row nowrap;
}

.skills-row h2 {
    background-color: #F8F8F8;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin-top: 4px;
}

.skill-dev, .skill-ops {
    width: 50%;
}

.align-right {
    text-align: right;
}

.align-right .skill-label {
    padding-right: 15px;
    padding-left: 0 !important;
}

.skill-content {
    display: flex;
    flex-flow: row nowrap;
}

.skill-content .skill-level {
    color: #32B9EE;
    font-size: 1.2em;
    width: 55%;
}

.skill-content .skill-label {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 5px;
    width: 45%;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
}

.footer .languages {
    width: 50%;
}

.footer .hobbies {
    width: 50%;
    text-align: center;
}

.lang-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.lang-content .lang-level {
    color: #32B9EE;
    font-size: 1.2em;
    margin-left: 10px;
    width: 50%;
    text-align: right;
}

.lang-content .lang-label {
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 5px;
    width: 50%;
}

.hobbies ul {
    list-style: none;
    font-size: 0.9em;
    text-transform: uppercase;
}
